body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#212121, #263238);
  color: #fff;
}

.ui.header {
  color: #fff;
}